body {
    text-align: center;
}

.container {
    width: 960px;
    height: 960px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.vertical {
    display: flex;
    flex: 1;
}

.horizontal {
    flex: 1;
}

.color {
    color: black;
}